<div id="loginPage-content">
    <div id="text">
        <h1>Passwort Support</h1>
        <div class="text-container">
            <p class="info">Haben Sie Ihr Passwort vergessen und möchten es resetten?</p>
            <p class="info">Dann schreiben Sie uns gerne eine Mail, sodass wir uns für Sie darum kümmern können!</p>
            <p class="mail"><a id="mail" href="mailto:ordenderletztenhaltestelle@gmail.com"><b>Email an den Support</b></a></p>       
        </div>
        <p class="small-text">Haben Sie noch keinen Account?
    <a id="register" href="/register">
        <u><b>Sign up</b></u>
    </a>
    </p>
    </div>
</div>