<div id="loginPage-content">
    <div id="text">
        <h1>Passwort Support</h1>
        <div class="text-container">
            <p class="info">Hast du dein Passwort vergessen und möchtest es resetten?</p>
            <p class="info">Dann schreibe uns gerne eine Mail, sodass wir uns darum kümmern können!</p>
            <p class="mail"><a id="mail" href="mailto:inf24170@lehre.dhbw-stuttgart.de"><b>Email an den Support</b></a></p>       
        </div>
        <p class="small-text">Hast du noch keinen Account?
    <a id="register" href="/register">
        <u><b>Sign up</b></u>
    </a>
    </p>
    </div>
</div>