<div id="cartPage-content">
    <h1>
        <%= title %>
    </h1>
    <!-- Load CartItems -->
    <div class="cartitems-container">
        <% cartItems.forEach((item)=> { %>
            <%- include("../../components/CartItem/CartItem", { item: item, token: token }) %>
                <% }) %>
    </div>
</div>