<div id="cartPage-content">
    <!-- Load CartItems -->
    <div class="cartitems-container">
        <% cartItems.forEach((item)=> { %> <%-
        include("../../components/CartItem/CartItem", { item: item, token: token
        }) %> <% }) %>
    </div>
    <div class="cartPage-button-container">
        <button class="cartPage-button cart-delete">Lösche Warenkorb</button>
        <a href="/checkout">
            <button class="cartPage-button cart-checkout">Zur Kasse</button>
        </a>
    </div>
</div>
