:root {
    --highlight-color: #dbc70c;
    --button-color: #dbc70c;
    --signup-button-color: #cd5b45;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none !important;
}

html,
body,
#outer-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;

}

#outer-container {
    display: grid;
    height: 100%;
    grid-template-rows: min-content auto min-content;
}
#header-placeholder,
footer,
header {
    z-index: 1000;
}

main {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
    height: 100%;
    width: 100%;
}
main.with-navbar {
    padding-top: 100px; /* Adjust this value based on the navbar's height */
}
.footer {
    grid-row: 3; /* Ensure the footer is in the last row of the grid */
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}