:root {
    --highlight-color: #dbc70c;
    --button-color: #dbc70c;
    --signup-button-color: #cd5b45;
    --error-color: #f44336;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none !important;
}


html,
body,
#outer-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
}

#outer-container {
    display: grid;
    height: 100%;
    grid-template-rows: min-content auto min-content;
}

#header-placeholder,
footer,
header {
    z-index: 1000;
}

main {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
    height: 100%;
    width: 100%;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
}

.toast.success {
    background-color: var(--highlight-color);
}

.toast.error {
    background-color: var(--error-color);
}
