<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title || "Webshop" %></title>

        <% if (cssFile) { %>
        <link
            rel="stylesheet"
            href="/pages/<%= cssFile.replace('Page.css', '').toLowerCase() %>/<%= cssFile %>"
        />
        <% } %>
        <link rel="stylesheet" href="/index.css" />
    </head>
    <body>
        <div id="outer-container">
            <% if (!excludeNavbar) { %>
            <div id="header-placeholder"></div>
            <% } %>

            <main>
                <!-- Hier wird die jeweilige Seiten-Datei eingefügt -->
                <%- bodyContent %>
            </main>

            <% if (!excludeFooter) { %>
            <footer>Footer</footer>
            <% } %>
        </div>
        <script src="/components/navbar/navbar.js" type="module"></script>
    </body>
</html>
