:root {
    --highlight-color: #dbc70c;
    --button-color: #DBC70C;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none !important;
}

html,
body,
#outer-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
}

#outer-container {
    display: grid;
    height: 100%;
    grid-template-rows: min-content auto min-content;
}

footer, header{
    z-index: 1000;
}

main {
    height: 100%;
}