<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title || "Webshop" %></title>

        <% if (cssFiles && cssFiles.length) { %> <%
        cssFiles.forEach(function(cssFile) { %>
        <link rel="stylesheet" href="<%= cssFile %>" />
        <% }) %> <% } %>

        <link rel="stylesheet" href="/index.css" />
        <link rel="stylesheet" href="./style/deletebutton.css" />
        <link rel="stylesheet" href="./style/dropdown.css" />
        <link rel="stylesheet" href="./style/overlay.css" />
    </head>

    <body>
        <div id="outer-container">
            <% if (!excludeNavbar) { %>
            <div id="header-placeholder"></div>
            <% } %>

            <main>
                <!-- Hier wird die jeweilige Seiten-Datei eingefügt -->
                <%- bodyContent %>
            </main>

            <% if (!excludeFooter) { %>
            <div id="footer-placeholder"></div>
            <% } %>
        </div>
        <script src="/components/navbar/navbar.js" type="module"></script>
        <script src="/components/footer/footer.js" type="module"></script>

        <!-- Implement api scripts -->
        <script src="/controller/CartController.js" type="module"></script>
        <script src="/controller/AuthController.js" type="module"></script>
        <script src="/controller/AdminController.js" type="module"></script>
        <script src="/controller/ProductController.js" type="module"></script>
        <script src="/controller/UserController.js" type="module"></script>
    </body>
</html>
