.navbar-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 10px 20px;
    padding-bottom: 5px;
    grid-template-rows: auto min-content;
    background-color: var(--highlight-color);
}

/* Title "Orden der letzten Haltestelle" */
.navbar-container > .title {
    grid-area: 1 / 1 / 2 / 2;
}

/* Searchbar */
.navbar-container > .searchBar-container {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    width: 60%;
    max-width: 400px;
    min-width: 200px;
    align-self: center;
    justify-self: center;
    height: 31px;
    display: grid;
    grid-template-columns: auto 45px 45px;
}

.navbar-container > .searchBar-container:focus-within {
    border: 2px solid #7e7e7e;
    border-radius: 100px;
}
.navbar-container > .searchBar-container > input {
    border: 1px solid grey;
    border-radius: 100px 0 0 100px;
    height: 100%;
}
.navbar-container > .searchBar-container > input:focus {
    outline: none;
}

.navbar-container > .searchBar-container > .searchButton {
    border-radius: 0 100px 100px 0;
}

.navbar-container > .searchBar-container > button {
    height: 100%;
    width: 100%;
    border-radius: 0;
    cursor: pointer;

    border: none;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-container > .searchBar-container > button:hover {
    background-color: #313131;
}

.navbar-container > .searchBar-container > button > svg {
    width: 20px;
    height: 20px;
}
/* overlay */
.filterOverlay {
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 200px;
    background-color: grey;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, min-content);
}

/* Navbar */
.navbar-container > .nav {
    grid-area: 2 / 1 / 3 / 4;
}
.navbar-container > .nav > a {
    text-decoration: none;
    color: black;
}

/* IconButtons */
.navbar-container > .icons-container {
    grid-area: 1 / 3 / 2 / 4;
    align-self: center;
    justify-self: right;
}
