<div id="wishlistOverview-content">
    <div class="Profilreihe">
        <div class="Profil">
            Profil1
        </div>
        <div class="Profil">
            Profil2
        </div>
    </div>
</div>