<div id="wishlistOverview-content">
    <div class="Profilreihe">
        <div class="Profil">
            <div class="Spalte1">
                <div class="header">
                    <img class="heart" src="http://localhost:3000/img/heart-svgrepo-com.svg">
                    <p> <strong class="Überschrift">Name:</strong> Beispielname </p>
                </div>
                <p> <strong class="Überschrift">Beschreibung:</strong> Diese Liste enthält alle meine Wunschprodukte</p>
                <p> <strong class="Überschrift">Besitzer:</strong> BeispielUser1</p>
                <p> <strong class="Überschrift">Berechtigte:</strong> Beispieluser2, Beispieluser3 </p>
            </div>
            <div class="Spalte2">
                <div>
                    <p> <strong class="Überschrift"> Enthaltene Prodokute </strong></p>
                    <ul class="Produkte">
                        <li> Beispielitem1 </li>
                        <li> Beispielitem2 </li>
                        <li> Beispielitem3 </li>
                        <li> Beispielitem4 </li>
                        <li> Beispielitem5 </li>
                    </ul>
                </div>
                <img class="trash" src="http://localhost:3000/img/depositphotos_649330112-stock-illustration-garbage-bin-line-icon-linear-removebg-preview.png">
            </div>
        </div>
    </div>
</div>