.cartitem-container {
    background-color: #D9D9D9;
    width: 80%;
    min-width: 300px;

    border-radius: 8px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;

    padding: 10px 15px;
}

.cartitem-container>a {
    text-decoration: none;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: 50% 50%;
    height: 100%;
    column-gap: 12px;
    color: black;
    margin-right: auto;
}

.cartitem-container>a>img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.cartitem-name {
    grid-area: 1 / 2 / 2 / 3;
    white-space: nowrap;
    font-weight: bold;
}

.cartitem-id {
    white-space: nowrap;
    grid-area: 2 / 2 / 3 / 3;
}

.cartitem-amount,
.cartitem-dropdown {
    white-space: nowrap;
    justify-self: end;
    background-color: #D9D9D9;
    border-radius: 6px;
    color: black;
    box-sizing: border-box;
}

.cartitem-delete {}

/* Special dropdown design for cartitems */
.dropdown-button.cartitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
    gap: 0.5em;
    padding: 0.5em;
    border: none;
    width: 120px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #ccc;

}

.dropdown-button.cartitem:hover {
    opacity: 0.7;
}


.dropdown-content.cartitem>.dropdown-item {
    background: none;
    border: none;
    padding: 0.5em 0.8em;
    text-align: left;
    cursor: pointer;
    transition: background 0.2s ease;
    border-radius: 6px;

}

.dropdown-content {
      text-align: right;
    background-color: #989898;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 6px;
    margin-top: 5px;
    position: absolute;
    z-index: 10;
    left: 0;
    min-width: 100%;
    box-sizing: border-box;
}

.dropdown-content.cartitem>.dropdown-item:hover {
    opacity: 0.8;
    background-color: #696969;
}

.dropdown-button.cartitem:hover {
    opacity: 0.8;
}


.cartitem.dropdown-arrow {
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
}

.cartitem.dropdown-arrow.rotated {
    transform: rotate(180deg);
}