<div class="dropdown-container">
    <button class="dropdown-button">
        <%= dropdown.label %>
    </button>
    <div class="dropdown-content">
        <% dropdown.items.forEach((item)=> { %>
            <button class="dropdown-item" onclick=<%=item.onclick %>><%= item.label %></button>
            })
    </div>

</div>