<div id="registerPage-content">
    <!-- Hier werden die Beispiel Componenten geladen. -->
    <div class="text-container">
    <h1 class="no-margin" id="welcome">Wilkommen im Online-Shop des</h1>
    <h1 class="no-margin" id="golden-writing">Ordens der letzten Haltestelle</h1>
    <p class="no-margin" id="small-text">Haben Sie schon einen Account?
    <a href="/login">
        <u><b>Log in</b></u>
    </a>
    </p>
    <div class="form-container">
        <form id="RegisterForm">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>

            <label for="username">Benutzername</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" required>
            <div class="button-wrapper">
                <button type="submit">Account erstellen</button>
            </div>
        </form>
    </div>
    
    </div>

    <div class="picture">
        <img id="picture" src="http://localhost:3000/img/Haltestelle_Register.png" alt="picture of bus stop" style="width: auto; height: 100%;">
    </div>
    <script src="RegisterPage.js"></script>
</div>