<div id="aboutPage-content">
    <div class="aboutpage-innercontainer">
        <div class="text-content">
            <h1>Der Orden der letzten Haltestelle!</h1>
            <p id="welcome">
                Herzlich Wilkommen in unserem Webshop.
            </p>
            <p id="merch">
                Hier gibt es Artikel rund um unseren beliebten Heiligen, dem heiligen Sankt Negrobert.
            </p>
            <p id="ad">
                Wenn Sie Interesse an einer Mitgliedschaft haben, so melden Sie sich gerne bei <a href="mailto:ordenderletztenhaltestelle@gmail.com">uns</a>!
            </p>
        </div>
        <img id="rightImage" src="http://localhost:3000/img/logo.png" alt="Logo OdlH">
    </div>
</div>