#checkoutPage-content {
    padding: 2em 5%;
}

.checkout-layout{
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2em;
    align-items: start;
}

.checkoutItems-container {
    padding: 2em;
    border: 10px;
}

.checkoutItems-inner-container {
    row-gap: 20px;
    display: grid;
    height: min-content;
}

.checkout-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1.5em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  gap: 1em;
  width: 100%;
}

.image-wrapper img {
  width: 150px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}


.dropdown-container{
    position: relative;
}
/*TODO Preisschild, Dropdown passen noch nicht in Position, maybe das Preisschild so anpassen, dass es ausschaut wie im Mockup*/
.dropdown-content{
    background-color: #989898;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 6px;
    margin-top: 5px;
    position: absolute;
    border: #000 solid;
}
/*Navbar overlay mit z-Index*/

.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 120px;
}

.dropdown-arrow{
    width: 12px;
    height:  12px;
    transform: rotate(0deg);
}

.dropdown-arrow.rotated {
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}

.dropdown-item {
  background: none;
  border: none;
  padding: 0.5em 0.8em;
  text-align: left;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background-color: #696969;
}

.price-buy {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-left: auto;
}

.price {
  background: var(--highlight-color);
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  font-weight: bold;
  color: #000;
  margin: 1em;
  text-align: center;
}
.summary-box-container{
  justify-content: start;
  flex-direction: column;
  display: flex;
  padding: 4em;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 3px 5px 10px hsla(0,0%,0%,0.2);
  border: 2px solid black;
  margin-top: 50px
}
.summary-amount{
  display: flex;
  padding: 1em;
  border-radius: 10px;
  gap: 10px;
  margin-top: 5px;
  font-weight: bold;
}
.summary-total-price{
  font-weight: bolder;
  display: flex;
  padding: 1em;
  border-radius: 10px;
  gap: 10px;
  margin-top: 5px;
  margin-inline: -45px;
}
.summary-divider{
  border: none;
  border-top: 2px solid black;
  margin: 1em 0;
  margin-inline: -45px;
}
.checkoutPage-button-container {
  justify-self: center;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.checkout-button-interrupt{
  background-color: var(--button-color);
  padding: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 2px;
}
.checkout-button-interrupt:hover{
  background-color: #c4b107;
}
.checkout-button-buy{
  background-color: var(--button-color);
  padding: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 2px;
}
.checkout-button-buy:hover{
  background-color: #c4b107;
}
.hide {
  display: none;
}

@media screen and (max-width: 400px) {
        .checkout-layout{
            grid-template-columns: 1fr;
        }
        .checkout-card {
             flex-direction: column;
            align-items: flex-start;
        }
        .price-buy {
            margin-left: 0;
            margin-top: 1em;
        }
        .summary-box-container{
            margin-top: 2em;
        }
}