<div id="notAllowed-content">
    <div class="notAllowed-innercontainer">
        <p>Sie haben keinen Zugriff auf diese Seite!</p>
        <a href="/login">Login</a><br>
        <a href="mailto:ordenderletztenhaltestelle@gmail.com">Support</a>
    </div>
</div>
