<div id="confirmPage-content">
    <div class="confirmation-container">
        <div class="confirmation-box">
          <h1>Vielen Dank für Ihre Bestellung!</h1>
          <p>
            Sie können Ihre Bestellungen in der Bestellhistorie einsehen.<br>
            In Ihrem Mail-Postfach sollten Sie eine Bestätigung erhalten haben.
          </p>
        </div>
        <div class="button-group">
          <a href="/"><button>Weiter Einkaufen</button></a>
          <a href="/profile"><button>Zum Konto</button></a>
          <a href="/cart"><button>Zum Warenkorb</button></a>
        </div>
    </div>
</div>