<div id="orderPage-content">
    <div id="Beispieldiv">
        <div id="Informationen">
        <img src="https://via.placeholder.com/200" alt="Testbild">
        <div> 
            <p>Artikel-Name</p>
            <p>Artikel-Nr.</p>
        </div>
        </div>
        <div id="buttons">
            <button>Preis: -</button>
            <button>Anzahl: X</button>
            <button>In den Warenkorb</button>
        </div>
    </div>
    <div id="Beispieldiv">
        <div id="Informationen">
        <img src="https://via.placeholder.com/200" alt="Testbild">
        <div> 
            <p>Artikel-Name</p>
            <p>Artikel-Nr.</p>
        </div>
        </div>
        <div id="buttons">
            <button>Preis. -</button>
            <button>Anzahl: X</button>
            <button>In den Warenkorb</button>
        </div>
    </div>
        <div id="Beispieldiv">
        <div id="Informationen">
        <img src="https://via.placeholder.com/200" alt="Testbild">
        <div> 
            <p>Artikel-Name</p>
            <p>Artikel-Nr.</p>
        </div>
        </div>
        <div id="buttons">
            <button>Preis: -</button>
            <button>Anzahl: X</button>
            <button>In den Warenkorb</button>
        </div>
    </div>
</div>
