<div id="loginPage-content">
    <div id="text">
        <h1><%= title %></h1>
        <div class="buttons-container">
            <div id="mail-login">
                <img>
                <button id="Mail">Mit 
                    <a href="/loginMail/Link">Link</a> 
                    oder 
                    <a href="loginMail/Code">Code</a> anmelden</button>
            </div>
            <div id="password-login">
                <button id="password">Mit Email anmelden</button>
            </div>
        </div>
        <p class="small-text">Hast du noch keinen Account?
    <a id="register" href="/register">
        <u><b>Sign in</b></u>
    </a>
    </p>
    </div>
</div>