<div id="loginPage-content">
    <div id="text">
        <h1><%= title %></h1>
        <div class="buttons-container">
            <div id="mail-login">
                <div class="button" id="Mail">Mit 
                    <a class="writing-Link" href="/loginMail/Link"><b>Link</b></a> 
                     oder  
                    <a class="writing-Link" href="/loginMail/Code"><b>Code</b></a> anmelden</button>
            </div>
            <div id="password-login">
                
                <div class="button" id="password">Mit 
                    <a class="writing-Link" href="/loginPassword">
                        <b>Email</b>
                    </a> anmelden</button> 
            </div>
        </div>
        <p class="small-text">Hast du noch keinen Account?
    <a id="register" href="/register">
        <u><b>Sign up</b></u>
    </a>
    </p>
    </div>
</div>