.adminPage-user-container > .profilePicture {
    grid-area: 1 / 1 / 5 / 2;
    width: 70px;
    height: 70px;
    align-self: center;
    justify-self: center;
}

.adminPage-user-container > .text {
    margin: 0;
    padding: 0;
}

.adminPage-user-container > .email {
    grid-area: 1 / 2 / 2 / 3;
}

.adminPage-user-container > .role {
    grid-area: 2 / 2 / 3 / 3;
}

.adminPage-user-container > .verified {
    grid-area: 3 / 2 / 4 / 3;
}

.adminPage-user-container > .adminpage-user-button-container {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-self: flex-end;
}

.adminpage-button {
    cursor: pointer;
    padding: 8px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 45px;
}

.adminpage-button:hover {
    opacity: 0.8;
    border-color: black;
}

/* Unbann user */
.adminpage-button.Entbannen {
    background-color: green;
}

/* Bann user */
.adminpage-button.Bannen {
    background-color: #ff0000;
}

/* Promote to admin */
.adminpage-button.Befördern {
    background-color: var(--highlight-color);
}

/* Demote to user */
.adminpage-button.Degradieren {
    background-color: rgb(192, 191, 191);
}

/* delete user*/
.adminpage-button.Löschen {
    background-color: #ff0000;
}

/* overlay */
.adminPage-user-container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content min-content auto;
    border: 2px solid black;
    border-radius: 8px;
    width: 1000px;

    height: 140px;
    padding: 20px;
    column-gap: 30px;
}

@media screen and (max-width: 1300px) {
    .adminPage-user-container {
        width: 800px;
    }
}

@media screen and (max-width: 1000px) {
    .adminPage-user-container {
        width: 600px;
    }
}
@media screen and (max-width: 720px) {
    .adminPage-user-container {
        width: 400px;
        height: 170px;
    }
}

@media screen and (max-width: 520px) {
    .adminPage-user-container {
        width: 300px;
        height: 250px;

        grid-template-columns: auto;
        grid-template-rows: min-content min-content min-content min-content auto;
    }
    .adminPage-user-container > .profilePicture {
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 22px;
    }

    .adminPage-user-container > .email {
        grid-area: 2 / 1 / 3 / 2;
    }

    .adminPage-user-container > .role {
        grid-area: 3 / 1 / 4 / 2;
    }

    .adminPage-user-container > .verified {
        grid-area: 4 / 1 / 5 / 2;
    }

    .adminPage-user-container > .adminpage-user-button-container {
        grid-area: 5 / 1 / 6 / 2;
    }
}
