<div id="verifyMail-content">
    <div class="content-container">
        <h1>Bitte verifizieren Sie Ihre Email, indem Sie auf den Button klicken.</h1>
        <button id="verify" onclick="handleverifyMail('<%= token %>')">Verifizieren</button>
    </div>
</div>