.trash-icon-button {
    height: 45px;
    width: 45px;
    cursor: pointer;

    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-icon-button:hover {
    border-color: black;
}
