<div id="loginPage-content">
    <div id="text">
        <h2 id="heading">Geben Sie hier Ihre Mailadresse an, an die wir den Link senden sollen</h2>
        <div class="form-container">
            <form id="LinkForm" action="/submit-form" method="post">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                
                <div class="button-wrapper">
                    <button type="submit">Link senden</button>
                </div>
            </form>
        </div>
        <p class="small-text">Haben Sie noch keinen Account?
    <a id="register" href="/register">
        <u><b>Sign up</b></u>
    </a>
    </p>
    </div>
</div>