<div id="loginPage-content">
    <div id="text">
        <h2 id="heading">Geben Sie hier Ihre Mailadresse an, an die wir den Link senden sollen</h2>
        <div class="form-container">
            <form id="LoginFormLink">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <div class="button-wrapper">
                    <button type="submit" onclick="document.getElementById('emailSentOverlay').style.display = 'flex';">Link senden</button>
                </div>
            </form>
        </div>
        <p class="small-text">Haben Sie noch keinen Account?
            <a id="register" href="/register">
                <u><b>Sign up</b></u>
            </a>
        </p>
    </div>
</div>


<div id="emailSentOverlay" class="overlay" style="display: none">
    <div class="overlay-box">
        <h2>Die Email wurde versendet! Checken Sie Ihr Postfach.</h2>
        <div class="bottom-buttons">
            <a href="http://localhost:3000">
                <button
                    class="button"
                    onclick='document.getElementById("deletedOverlay").style.display = "none"; window.location.href = "/";'
                >
                    Schließen
                </button>
            </a>
        </div>
    </div>
</div>