.navbar-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    padding: 10px 20px;
    padding-bottom: 5px;
    grid-template-rows: auto min-content;
    background-color: var(--highlight-color);
}

/* Title "Orden der letzten Haltestelle" */
.navbar-container>a {
    text-decoration: none;
    color: black;
    height: min-content;
    width: 170px;
}

.navbar-container>a>.title {
    grid-area: 1 / 1 / 2 / 2;
}

.navbar-container>a>.title.small {
    display: none;
}

/* Searchbar */
.navbar-container>.searchBar-container {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    width: 60%;
    max-width: 400px;
    min-width: 200px;
    align-self: center;
    justify-self: center;
    height: 31px;
    display: grid;
    grid-template-columns: auto 45px 45px;
}

.navbar-container>.searchBar-container:focus-within {
    outline: 2px solid #7e7e7e;
    border-radius: 100px;
}

.navbar-container>.searchBar-container>input {
    border: 1px solid grey;
    border-radius: 100px 0 0 100px;
    height: 100%;
}

.navbar-container>.searchBar-container>input:focus {
    outline: none;
}

.navbar-container>.searchBar-container>.searchButton {
    border-radius: 0 100px 100px 0;
}

.navbar-container>.searchBar-container>button {
    z-index: 10;
    height: 100%;
    width: 100%;
    border-radius: 0;
    cursor: pointer;

    border: none;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container>.searchBar-container>button:hover {
    background-color: #313131;
}

.navbar-container>.searchBar-container>button>svg {
    width: 20px;
    height: 20px;
}

/* overlay */
.filterOverlay {
    position: absolute;
    z-index: 1000;
    bottom: -93px;
    height: 93px;
    width: 100%;
    background-color: #464545;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, min-content);
    padding: 8px;
    row-gap: 5px;

    color: rgb(216, 216, 216);
}

.filterOverlay.hide {
    display: none;
}

/* Navbar */
.navbar-container>.nav {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    gap: 20px;
    margin-left: 5%;
}

.navbar-container>.nav>a {
    text-decoration: none;
    color: black;
}

.navbar-container>.nav>a:hover {
    text-decoration: underline;
}

/* IconButtons */
.navbar-container>.icons-container {
    grid-area: 1 / 3 / 2 / 4;
    align-self: center;
    justify-self: right;
    display: flex;
    gap: 10px;
    margin-right: 10%;
}

.navbar-container>.icons-container>a>.icon-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius: 8px;
}

.navbar-container>.icons-container>a>.icon-button:hover {
    border: 1px solid black;
}

@media screen and (max-width: 700px) {
    .navbar-container>a>.title.big {
        display: none;

    }

    .navbar-container>a>.title.small {
        display: flex;
        width: 50px;
    }

    .navbar-container {
        grid-template-columns: 50px auto min-content;
    }
}


@media screen and (max-width: 620px) {
    .navbar-container {
        grid-template-columns: 50px auto;
    }

    .navbar-container>.icons-container {
        display: none;
    }

    .navbar-container>.nav {
        grid-area: 2 / 1 / 3 / 3;
    }


    .navbar-container>.searchBar-container {
        justify-self: end;
    }
}