html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--highlight-color);
}
#text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 24px; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    color: rgb(50, 48, 48);
    text-decoration: underline;
}
a:hover {
    color:var(--highlight-color); 
    text-decoration:none; 
    cursor:pointer;  
}
.small-text {
    font-size: 12px;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#RegisterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container {
    position: relative;
    float: left;
    max-width: 550px;
    margin: auto;
    padding: 30px;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
}
.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.button-wrapper {
    text-align: center;
}
.form-container button {
    width: auto;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 50px;
    color: black;
    border: none;
    cursor: pointer;
    background-color: var(--highlight-color);
}
.form-container button:hover {
    background-color: rgb(211, 211, 211);
}