<div id="loginToken-content">
    <div class="content-container">
        <p>Ihr Login war leider nicht erfolgreich. Bitte vesuchen sie einen neuen Link zu erstellen</p>
        <a href="/loginMail/Link"><b>Link erstellen</b></a>
    </div>
</div>