<div id="editwishlistItem">
    <div class="edit">
        <div class="Felder">
            <div class="Name:">
                <h2> Name: </h2>
                <input class="field1" type="text" placeholder="Name">
            </div>
            <div class="Beschreibung">
                <h2> Beschreibung: </h2>
                <textarea class="field2" type="text" placeholder="Diese Liste enthält alle wichtigen Produkte"></textarea>
            </div>
        </div>
        <div class="Symbole">
            <img class="heart" src="http://localhost:3000/img/heart-svgrepo-com.svg">
             <img class="trash" src="http://localhost:3000/img/depositphotos_649330112-stock-illustration-garbage-bin-line-icon-linear-removebg-preview.png">
        </div>
    </div>
    <button class="newprofile">
        <p> Neue Wunschliste erstellen </p>
    </button>
</div>